<div class="container">
  <h2>Login</h2>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="form-group">
      <label for="login">Login:</label>
      <input type="text" id="login" required [(ngModel)]="loginData.login" name="login" class="form-control" #login="ngModel">
      <div *ngIf="login.invalid && (login.dirty || login.touched)" class="alert alert-danger">
        Login est requis
      </div>
    </div>

    <div class="form-group">
      <label for="password">Mot de passe:</label>
      <input type="password" id="password" required [(ngModel)]="loginData.password" name="password" class="form-control" #password="ngModel">
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
        Mot de passe est requis
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">Login</button>
  </form>

  <div *ngIf="errorMessage" class="alert alert-danger mt-3">
    {{ errorMessage }}
  </div>

  <div class="text-center mt-3">
    <button type="button" class="btn btn-secondary" (click)="goHome()">Retour à l'accueil</button>

  </div>
  <button (click)="navigateToAdminHome()">Go to Admin Home</button>

</div>
